*{
    padding:0;
	margin:0;
}
.row{
	display:grid;
	grid-template-columns: auto auto auto auto;
	position:relative;
	justify-content:center;
	gap:20px;
}
.row .col{
	width:200px;
	height:auto;
	background:black;
	padding:20px 30px;
}
.row .col p{
	color:#D72374;
	font-size:18px;
}
/* responsive design css style */
@media(max-width:1200px){
	.row{
		grid-template-columns:auto auto auto;
	}
	.row .col{
		background:gray;
	}
	.row .col p{
		color:white;
		font-size:20px;
	}
	
}
@media(max-width:992px){
	.row{
		grid-template-columns:auto auto ;
	}
	.row .col{
		background:yellow;
	}
	.row .col p{
		color:green;
		font-size:20px;
	}
	}
@media(max-width:768px){
	.row{
		grid-template-columns:  auto;
	}
	.row .col{
		background:black;
	}
	.row .col p{
		color:red;
		font-size:20px;
		}
	}
/* responsive design css style */